# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://uckbgeuizajmdxiuwqqz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVja2JnZXVpemFqbWR4aXV3cXF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk0NDczMDIsImV4cCI6MjA2NTAyMzMwMn0.e0aADsAUYqy9LrgUiOETSBAQaUJ4WtExfezt3E9nI5g
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVja2JnZXVpemFqbWR4aXV3cXF6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTQ0NzMwMiwiZXhwIjoyMDY1MDIzMzAyfQ.oyu05jRQyQPwoHAtYwkEvqKcAC8ybhJDizdMBvhmYmw
DATABASE_URL=postgresql://postgres:es09ejB7QrreeNUB@db.uckbgeuizajmdxiuwqqz.supabase.co:5432/postgres

# OpenAI (Optional - for AI features)
OPENAI_API_KEY=your_openai_api_key_here

# Next.js
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000" 